body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main {
  background: #f7f7f7;
  min-height: 100vh;
  height: 100%;
}
.main .container-lg {
  padding-left: 5px;
  padding-right: 5px;
}
.userCard {
  width: 150px;
  height: 150px;
  margin: 8px;
}

.userName {
  font-size: 14px;
}
.first-letter::first-letter {
  text-transform: uppercase;
}
.postCard {
  transition: 0.2s linear;
  cursor: pointer;
}
.postCard:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175) !important;
}
@media (min-width: 768px) {
  .userCard {
    width: 220px;
    height: 220px;
  }
  .userName {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .userCard {
    margin-top: 20px;
    padding-top: 20px;
    width: 350px;
    height: 350px;
  }
  .userName {
    font-size: 28px;
    font-weight: bold;
  }
  .userCard img {
    margin-bottom: 20px;
  }
}
